# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dc02731e7b928177189db95ecb145dbf1fc3636b3df8129eb40c0485a578d53751b31c4aa69f52e57493fd26a12d786c796593616bd63843613fef154ca3e1f7

test:
  secret_key_base: 602be64e2295c4f02b6cea4aabd8101d78940cf9cd6b90483f2fda95fffa4b1cd161001bfacd85106a90f2e201a057fa314a370dc2dd9cf2ebc3fcdd01129df6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
